{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}

<style>
    
    @media (max-width: 480px) {
        .horizontal-bar ul {
            flex-direction: row; /* stack the buttons vertically on small screens */
        }
    }
    
    .horizontal-bar {
        display: flex;
        align-items: center;
        background-color: #601B4A; /* berry color */
        color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
        height: 60px; /* make the bar thicker */
        margin-bottom: 30px; /* add space after the bar */
    }
    
    .horizontal-bar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .horizontal-bar li {
        padding: 0 20px;
    }
    
    .horizontal-bar button {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
        border-radius: 4px; /* add rounded corners to the buttons */
        transition: all 0.3s ease; /* add a transition effect */
    }
    
    .horizontal-bar button:hover {
        background-color: #444;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); /* add a box shadow on hover */
        transform: translateY(-6px); /* move the button upward on hover */
    }
    
</style>

<div class="horizontal-bar">
    <ul>
        <li><button>Softwares</button></li>
        <li><button>Research</button></li>
        <li><button>Travel</button></li>
    </ul>
</div>

<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
